[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "thirdparty/fbstab"]
	path = thirdparty/fbstab
	url = https://github.com/dliaomcp/fbstab.git
